/****************************** RESET ******************************/
html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

*,
* ::before,
* ::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Основные параметры */
html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #212529;
  min-width: 320px;
  color: #fff;
}

.container {
  max-width: calc(1280px + 30px);
  padding: 50px 15px;
  margin: 0 auto;
}

/****************************** MAIN STYLES ******************************/
form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-bottom: 50px;
}

.form input {
  border-radius: 10px;
  padding: 10px 5px;
}

.form input:not(:last-child) {
  margin-bottom: 20px;
}

.btn-wrapper,
.btn {
  width: 100%;
}

.input-message {
  font-size: 14px;
  color: #b00020;
}

th {
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
}

th:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

.student-row {
  cursor: pointer;
}

.student-row:hover {
  background-color: #fff;
}
